<h1> create a new Articvle <h1>
<%= puts "#{@article.errors.full_messages.inspect}===" %>
<%= puts "#{@article.errors.full_messages.any?.inspect}===" %>
<% if @article.errors.full_messages.any? %>         
    <h2>The following errors prevented the article from the save</h2>
    <ul>
        <% @article.errors.full_messages.each do |d| %>
            <li><%= d %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with scope: :article,url: articles_path, local: true do |f| %>
    <p>
        <%= f.label :title %><br/>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :description %><br/>
        <%= f.text_area :description %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %> 